body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   }
   
   header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
   }
   
   nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
   }
   
   nav ul li {
    margin-right: 20px;
   }
   
   nav a {
    color: #fff;
    text-decoration: none;
   }
   
   .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
   
   .galeria img {
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
   }
   
   .galeria p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
   }
   .animada{
    transform: scale(1) ;
   }
   .animada:hover{
    transform: scale(1.2);
   }